body{
    margin: 0 auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    background-color: white;
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;      
}

h2{    
    font-weight: normal;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: black;
    font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 2;
}

hr{
    border: dotted black;
    border-bottom: none;
    width: 100%;
    margin: 100px auto;
}

.footer-link{
    color:black;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color:white;
}

.top-container {
    background-color: gold;
    position: relative;  
    padding-top: 100px;
}

.middle-container {
    background-color: white;
    margin: 100px 0;
    
}

.bottom-container {
    background-color: gold;
    padding: 50px 0 20px ;    
        
    
}


.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}
.copy-right{
    color: white;
    font-size: 1rem;
    padding: 20px 0;
}

img {    
    max-width: 100%;
    height: auto;       
  }

.code {
    position: absolute;
    top: 300px;
    left: 300px;
    max-width: 15%;    
}

.scroll {
    position: absolute;
    top: 300px;
    right: 200px;
    max-width: 15%;  
}

.developer {
    position: center;
    top: 5px;    
}

.data-management-png{
    width: 25%; 
    float: left; 
    margin-right: 30px ;
    text-align: left;   

}

.fortnite{
    width: 50%;     
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.fortnite-png{
    width: 25%;
    float: right; 
    margin-left: 30px ;
    text-align: right;

}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: 28px;
    background: #ffd700;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #ffd700;
    background-image: -webkit-linear-gradient(top, black, #000000);
    background-image: -moz-linear-gradient(top, black, #000000);
    background-image: -ms-linear-gradient(top, black, #000000);
    background-image: -o-linear-gradient(top, black, #000000);
    background-image: linear-gradient(to bottom, black, #000000);
    text-decoration: none;
  }